<div id="comment-edit" class="center-fifty">
	<div class="center">
		<h1>Editing Comment</h1>
	</div>

	<%= render 'form' %>

	<br>
	<div class="center">
		<%= link_to 'Back', comments_path %>
	</div>
</div>