<div id="people-edit" class="center-fifty">
	<h1>Editing Person Profile</h1>

	<%= render 'form' %>

	<br>
	<div class="center">
		<%= link_to 'Show Current Details', @person %> |
		<%= link_to 'Back', people_path %>
	</div>
</div>