<div id="publication-edit" class="center-fifty">
	<br>

	<h1>Editing publication</h1>

	<%= render 'form' %>

	<br>
	<div class="center">
		<%= link_to 'Show Current Details', @publication %> |
		<%= link_to 'Back', admins_path %>
	</div>
</div>
