
#work-index {
	a {
		font-size: 1.2em;
	  color: #7E0514;
	  text-decoration: underline;
	  &:visited {
	    color: #7E0514;
	  }
	  &:hover {
	    color: blue;
	    background-color: #DEE5E7;
	  }
	}

	table {
		margin: auto;

		tr {
			text-align: left;
		}
		
		th {
			font-size: 1.2em;
		}

	}
}

#work-show {
	a {
		font-size: 1.2em;
	  color: #7E0514;
	  text-decoration: underline;
	  &:visited {
	    color: #7E0514;
	  }
	  &:hover {
	    color: blue;
	    background-color: #DEE5E7;
	  }
	}
}

#work-edit {
	a {
		font-size: 1.2em;
	  color: #7E0514;
	  text-decoration: underline;
	  &:visited {
	    color: #7E0514;
	  }
	  &:hover {
	    color: blue;
	    background-color: #DEE5E7;
	  }
	}
}

#work-new {
	a {
		font-size: 1.2em;
	  color: #7E0514;
	  text-decoration: underline;
	  &:visited {
	    color: #7E0514;
	  }
	  &:hover {
	    color: blue;
	    background-color: #DEE5E7;
	  }
	}
}





