<div id="report-edit" class="center-fifty">
	<h1>Editing report</h1>

	<%= render 'form' %>

	<br>
	<div class="center">
		<%= link_to 'Show Current Details', @report %> |
		<%= link_to 'Back', reports_path %>
	</div>
</div>
